body {
    background-color: transparent; /* Make the body background transparent */
}

.autocomplete {
    position: relative;
    display: inline-block;
}

#searchInput {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff; /* Keep the input background white */
    color: #000; /* Text color */
}

#searchInput:focus {
    border-color: #007BFF; /* Focus border color */
    outline: none;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff; /* Keep the autocomplete list background white */
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; /* Keep individual items background white */
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9; /* Background color when hovering over items */
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
